[submodule "machine-dotfiles/zsh/themes/powerlevel10k"]
	path = machine-dotfiles/zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "programs/tmux/.tmux"]
	path = programs/tmux/.tmux
	url = https://github.com/gpakosz/.tmux.git
